@media (max-width:600px){
    .card {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
        border-radius: 14px;
        margin-bottom: 12px;
        padding:10px;
        padding-top: 14px;
        background-color:rgb(31,31,34);
        display: grid;
        grid-template-rows:auto;
      }
}